.appBody {
  background-image: linear-gradient(120deg,#f0c9f8,#f7eff6);
  backdrop-filter: blur(10px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 0 40px 0;

  @media (max-width: 424px){
    overflow-y: hidden;
    overflow-x: hidden;
  }

  @media (max-width: 767px){
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

.container {
  background-color: rgba(249, 249, 249, 0.628);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-grow: 1;
}

Navbar{
  background-image: transparent ;
}

@media (max-width: 424px){
  #offcanvasNavbar{
    background-color: rgba(255, 255, 255, 0.755);
    backdrop-filter: blur(10px);
    width: 50%;
  }

}